<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="msi" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="83b13f53-3c6b-45ee-89bb-b71002c9f3b8">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
